@charset "UTF-8";

body{
    margin-top: 5%;
    background-color: #fff !important; 
}

iframe{
    display: block !important;
    margin: 0 auto 1rem auto;
}

header{
	z-index: 1700 !important;
}

section{
	display: block;
	position: relative;
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    font-size: 1.5rem;
}

article{
    margin: .5%;
    margin-top: 0;
}

.container{
    margin: 0 !important;
    min-width: 100% !important;
    min-height: 100% !important;
}

.right{
    margin: 0 auto;
    width: 80%;
}

.colums{
    align-items: center;
    text-align: center;
    text-align: -moz-center;
}

.text-area-comment{
    resize: none !important;
    font-size: 1.5rem;
}

.comment-inp{
    font-size: 1.5rem;
    height: 100% !important;
}

.btn{
    margin: 0 auto !important;
    font-size: 1.5rem !important;
    width: 100%;
    padding: .25rem .25rem !important;
}

.btn-div-comment{
    text-align: center !important;
}

.card-title-right{
    margin-left: 1%;
}

.comments-empty,
#comments-div{
    margin: 2rem 0 3rem 1%;
}

.name-comment-input{
    font-size: 1.5rem;
    height: 100%;
}

footer{
	width: 100%;
}

@media (max-width: 1058px){
    section{
        margin-top: 6.5rem;
    }
}