@charset "UTF-8";

.btn{
    font-size: 1.5rem !important;
    z-index: 1000 !important;
}

.modal-title,
.modal-header,
.close-modal{
    font-size: 1.75rem !important;
}

.body-text-article,
.tag-article{
    resize: none !important;
    font-size: 1.5rem;
}

.tag-article{
    height: 100%;
}

.title-article-input{
    font-size: 1.5rem;
    height: 100% !important;
}

.modal-btn-article{
    position: relative;
    float: right;
    font-size: 1.5rem;
    margin-bottom: 1%;
}

#modal-spin-back{
    background: transparent;
    border: transparent;
}

.spinner-border{
    width: 3rem;
    height: 3rem;
    z-index: 2000;
}

.form-check,
.form-check-input,
label{
    font-size: 1.5rem;
}

#featured-article{
    margin-top: .5rem !important;
}

.badge{
    font-size: 1.25rem;
    background-color: #0069d9;
    padding-top: .5%;
    padding-bottom: .5%;
}

@media (max-width: 608px){
    body{
        margin-top: 10%;
    }
}

@media (max-width: 510px){
    body{
        margin-top: 12%;
    }
}