@charset "UTF-8";

section{
    display: block;
	position: relative;
	background-color: #fff;
	min-height: 100vh;
}

h1.title{
    font-size: 2rem;
    margin: 5% 0 0 3%;
    color: #8a8a8a;
    display: block;
}

.most-clicked{
	color: #000;
}

.most-clicked:hover{
	text-decoration: none;
	transform: scale(1.01);
}

p#date{
    display: block;
    margin: 0 0 0 3%;
	font-size: 1.75rem;
	font-weight: 500;
    color: #8a8a8a;
}

article:hover{
	transform: scale(1.01);
	cursor: pointer;
}

.card{
    margin-top: 3%;
	min-width: 100%;
	border-radius: .75rem !important;
}

.card-body{
    margin-left: 1%;
    font-size: 1.5rem;
}

.col-md-9{
    display: inline-block;
}

.right{
    float: right;
    width: 20%;
    margin-right: 3%;
    margin-top: 1.5%;
}

.right article:hover{
	cursor: default;
}

footer{
	width: 100%;
}

@media (max-width: 993px){
    h1.title{
        margin: 9% 0 0 3%;
    }
}

@media (max-width: 767px){
    .right{
        display: none;
    }
}


@media (max-width: 533px){
    h1.title{
        margin: 11% 0 0 3%;
    }
}

@media (max-width: 415px){
    h1.title{
        margin: 13% 0 0 3%;
    }
}

@media (max-width: 370px){
    h1.title{
        margin: 15% 0 0 3%;
    }
}