@charset "UTF-8";

*,
*::before,
*::after{
	
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
	font-family: 'SF Pro Display', sans-serif;
}

body{
	background-color: #f8f9fa;
}

section{
    display: block;
	position: relative;
	background-color: #fff;
	min-height: 100vh;
}

h1.title{
    font-size: 2rem;
    margin: 5% 0 0 3%;
    color: #8a8a8a;
    display: block;
}

.most-clicked{
	color: #000;
}

.most-clicked:hover{
	text-decoration: none;
	transform: scale(1.01);
}

p#date{
    display: block;
    margin: 0 0 0 3%;
	font-size: 1.75rem;
	font-weight: 500;
    color: #8a8a8a;
}

article:hover{
	transform: scale(1.01);
	cursor: pointer;
}

.card{
    margin-top: 3%;
    min-width: 100%;
}

.card-body{
    margin-left: 1%;
    font-size: 1.5rem;
}

.col-md-9{
    display: inline-block;
}

.right{
    float: right;
    width: 20%;
    margin-right: 3%;
    margin-top: 1.5%;
}

.right article:hover{
	cursor: default;
}

footer{
	width: 100%;
}

ul{
    text-decoration: none;
    list-style: none;
}

.navblog-container{
	max-width: 98rem;
	margin: 0 auto;
	padding: 0 2.2rem;
	height: max-content;
}

a.nav-blog-link{
	display: block;
	text-decoration: none;
}

header{
	position: fixed;
	top: 0;
	z-index: 1400;
	width: 100%;
	height: 4.4rem;
	background-color: rgba(0, 0, 0, .8);
	box-shadow: 0 4px 5px -2px gray;
	background-filter: blur(2rem);
}

.nav-blog-list{
	list-style: none;
	display: flex;
	align-items: center;
	vertical-align: middle;
	justify-content: space-between;
	margin: 0 -1rem;
}

.nav-blog-list-mobile{
	display: none;
}

a.nav-blog-link:hover{
    text-decoration: none;
	color: #c1c1c1;
}

a.nav-blog-link{
	font-size: 1.4rem;
	color: #d1d1d1;
	padding: 0 1rem;
	transition: opacity .5s;
}

a.nav-blog-link:hover{
	opacity: .7;
}

.nav-link-blog{
	width: 3rem;
	height: 4.4rem;
	background: url('./logo-icon.png') center no-repeat;
}

.nav-blog-list-larger .nav-blog-item a.nav-blog-link{
    transform: scale(1);
    transition: 0.3s;
}

.nav-blog-list-larger .nav-blog-item a.nav-blog-link.hide-item{
    transform: scale(0);
}

.nav-blog-list-larger .nav-blog-item:nth-child(0) a.nav-blog-link.hide-item{
    transition-delay: 0.8s;
}

.nav-blog-list-larger .nav-blog-item:nth-child(1) a.nav-blog-link.hide-item{
    transition-delay: 0.7s;
}
.nav-blog-list-larger .nav-blog-item:nth-child(2) a.nav-blog-link.hide-item{
    transition-delay: 0.6s;
}blog
.nav-blog-list-larger .nav-blog-item:nth-child(3) a.nav-blog-link.hide-item{
    transition-delay: 0.5s;
}
.nav-blog-list-larger .nav-blog-item:nth-child(4) a.nav-blog-link.hide-item{
    transition-delay: 0.4s;
}

.nav-blog-list-larger .nav-blog-item:nth-child(5) a.nav-blog-link.hide-item{
    transition-delay: 0.3s;
}

.nav-blog-list-larger .nav-blog-item:nth-child(6) a.nav-blog-link.hide-item{
    transition-delay: 0.2s;
}

.nav-blog-list-larger .nav-blog-item:nth-child(7) a.nav-blog-link.hide-item{
    transition-delay: 0.1s;
}

.nav-blog-list-larger .nav-blog-item:nth-child(8) a.nav-blog-link.hide-item{
    transition-delay: 0s;
}

.nav-blog-list-larger .nav-blog-item:nth-child(0) a.nav-blog-link.hide-item{
    transition-delay: 0.8s;
}
.nav-blog-list-larger .nav-blog-item:nth-child(1) a.nav-blog-link.hide-item{
    transition-delay: 0.7s;
}
.nav-blog-list-larger .nav-blog-item:nth-child(2) a.nav-blog-link.hide-item{
    transition-delay: 0.6s;
}
.nav-blog-list-larger .nav-blog-item:nth-child(3) a.nav-blog-link.hide-item{
    transition-delay: 0.5s;
}

.nav-blog-list-larger .nav-blog-item:nth-child(4) a.nav-blog-link.hide-item{
    transition-delay: 0.4s;
}

.nav-blog-list-larger .nav-blog-item:nth-child(5) a.nav-blog-link.hide-item{
    transition-delay: 0.3s;
}

.nav-blog-list-larger .nav-blog-item:nth-child(6) a.nav-blog-link.hide-item{
    transition-delay: 0.2s;
}

.nav-blog-list-larger .nav-blog-item:nth-child(7) a.nav-blog-link.hide-item{
    transition-delay: 0.1s;
}

.nav-blog-list-larger .nav-blog-item:nth-child(8) a.nav-blog-link.hide-item{
    transition-delay: 0s;
}

@media (max-width: 998px){
		header{
			height: 4.8rem;
			transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),
						height .56s cubic-bezier(0.32, 0.08, 0.24, 1);
		}
		
		header.navblog-container{
			padding: 0;
		}
		
		.nav-blog-list{
			margin-top: 0;
		}
	
		.nav-blog-list-mobile{
			display: flex;
		}
		
		.nav-blog-item{
			width: 4.8rem;
			height: 4.8rem;
			display: flex;
			justify-content: center;
		}
		
		.nav-blog-item-hidden{
			display: none;
		}
	
		.mobile-blog-menu{
			position: relative;
			z-index: 1500;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
	
		.line{
			position: absolute;
			width: 1.7rem;
			height: 1px;
			background-color: #d1d1d1;
			transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
		}
	
		.line-top{
			margin-top: 3px;
		}
	
		.line-bottom{
			margin-top: -.4rem;
		}
	
		.active .line-top{
			margin-top: 0;
			transform: rotate(45deg);
			transtition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
		}
	
		.active .line-bottom{
			margin-top: 0;
			transform: rotate(-45deg);
			transtition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
		}
		
		header.active{
			height: 100%;
			background-color: #000;
		}
		
		.nav-link-blog{
			width: 3rem;
			height: 4.8rem;
			position: relative;
			z-index: 1500;
		}
		
		.blog-nav{
			position: relative;
		}
		
		.nav-blog-link{
			font-size: 1.7rem;
			padding: 0;
			margin: auto 0;
		}
		
		.nav-blog-list-larger{
			position: fixed;
			top: 0;
			left: 0;
			width:0;
			height: 0;
			display: block;
			padding: 10.5rem 5rem;
			z-index: 1000;
			box-sizing: border-box;
			opacity: 0;
			visibility: hidden;
			
		}
		
		.active .nav-blog-list-larger {
			width: 100%;
			height: 100vh;
			opacity: 1;
			visibility: visible;
			transition: opacity .3s;
		}
		
		.active .nav-blog-link-bag{
			opacity: 1;
			transition: .3s;
		}
		
		.nav-blog-list-larger .nav-blog-item{
			width: 100%;
			justify-content: flex-start;
			border-bottom: 2px solid rgba(255, 255, 255, .1);
		}
		
		.nav-blog-list-larger .nav-blog-item:nth-child(8){
			border-bottom: none;
		}
		
		.active .nav-blog-list-larger .nav-blog-item{
			animation: fadeIn 1s ease-in;
		}
		
		
		@keyframes fadeIn{
			from{
				opacity: 0;
			}
			to{
				opacity: 1;
			}
		}
}